<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tableau de bord</title>
</head>
<body>
    <div>
        <h1>Tableau de bord</h1>
    </div>
    <div>
        <h2>Formulaire pour créer un utilisateur</h2>
        <form method="post" action="/users/" >
            
            <label for="name">Nom</label>
            <input type="text" name="name"  value="" >

            <label for="firstname">Prénom</label>
            <input type="text" name="firstname"  value="">

            <label for="email">Email</label>
            <input type="text" name="email"  value="" >

            <label for="password">Mot de passe</label>
            <input type="text" name="password"  value="">

            <input type="submit" value="submit">

        
        </form>
    </div>
    
    
    
    

    <div>
        <h2>Formulaire pour modifier et supprimer un utilisateur grâce à son id</h2>


        <div>
            <table >
                <thead>
                    <tr>
                        <th >Nom</th>
                        <th >Prénom</th>
                        <th >Email</th>
                        <th class="text-end">Action</th>
                        
                    </tr>
    
                </thead>
    
                <tbody>
                    <% if (typeof users !== 'undefined' && users.length > 0) { %>
                        <% users.forEach(element => { %>
                            <tr>
                                <td><%= element.name %></td>
                                <td><%= element.firstname %></td>
                                <td><%= element.email %></td>
                                
                                <td>
                                    <div class="d-flex flex-row justify-content-end">
                                        

                                        <a href="/users/edit/<%= element._id %>">
                                            <button>Modifier</button>
                                        </a>


                                        



                                        <!-- Formulaire de suppression -->
                                        <form action="/users/<%= element._id %>?_method=DELETE" method="POST">
                                            <button type="submit" class="btn btn-danger btn-small">Delete</button>
                                        </form>
                                    </div>
                                </td>


                            </tr>
                        <% }) %>
                    <% } else { %>
                        <tr>
                            <td colspan="3">Aucun catway disponible</td>
                        </tr>
                    <% } %>
                </tbody>
                
    
                
    
            </table>
        </div>
    



    </div>








    <div>
        <h2>Formulaire pour créer un catway</h2>
        <form method="post" action="/catways/">

            <label for="catwayNumber">Numéro de pont</label>
            <input type="number" name="catwayNumber" value="">

            <label for="type">Type</label>
            <input type="text" name="type" value="">
            
            <label for="catwayState">Description de l’état du catway</label>
            <input type="text" name="catwayState" value="">

            <input type="submit" value="submit">
            
            
        </form>

        
    </div>
    
    
    

    <div>
        <div>
            <h2>Formulaire pour afficher , supprimer et modifier la description de l’état d’un catwayune  grâce à son id</h2>
        </div>
        
        <div>
            <table >
                <thead>
                    <tr>
                        <th >Numéro de pont</th>
                        <th >Type</th>
                        <th >Description de l’état du catway</th>
                        <th class="text-end">Action</th>
                    </tr>
    
                </thead>
    
                <tbody>
                    <% if (typeof catways !== 'undefined' && catways.length > 0) { %>
                        <% catways.forEach(element => { %>
                            <tr>
                                <td><%= element.catwayNumber %></td>
                                <td><%= element.type %></td>
                                <td><%= element.catwayState %></td>

                                <td>
                                    <div class="d-flex flex-row justify-content-end">
                                        
                                        <a href="/catways/edit/<%= element._id %>">
                                            <button>Modifier</button>
                                        </a>
                                        

                                        <a href="/catways/look/<%= element._id %>" type="button" class="btn btn-warning btn-small">
                                            <button>Voir</button>
                                        </a>

                                        <!-- Formulaire de suppression -->
                                        <form action="/catways/<%= element._id %>?_method=DELETE" method="POST">
                                            <button type="submit" class="btn btn-danger btn-small">Delete</button>
                                        </form>
                                    </div>
                                </td>




                            </tr>
                        <% }) %>
                    <% } else { %>
                        <tr>
                            <td colspan="3">Aucun catway disponible</td>
                        </tr>
                    <% } %>
                </tbody>
                
    
                
    
            </table>
        </div>


    </div>




    <div>
        <h2>Formulaire pour enregistrer une réservation</h2>
        <form method="post" action="/reservations/">

            <label for="catwayNumber">Numéro de pont</label>
            <input type="number" name="catwayNumber" value="">

            <label for="clientName">Nom du client</label>
            <input type="text" name="clientName" value="">

            <label for="boatName">Nom du bateau amarré</label>
            <input type="text" name="boatName" value="">

            <label for="checkIn">Date de début de réservation</label>
            <input type="date" name="checkIn" value="">

            <label for="checkOut">Date de fin de réservation</label>
            <input type="date" name="checkOut" value="">

            <input type="submit" value="submit">

            
        </form>

        
    </div>
    
    

    <div>
        <h2>Formulaire pour afficher les détails et supprimer une réservation grâce à son id</h2>


        <div>
            <table >
                <thead>
                    <tr>
                        <th >Numéro de pont</th>
                        <th >Nom du client</th>
                        <th >Nom du bateau amarré</th>
                        <th class="text-end">Action</th>
                    </tr>
    
                </thead>
    
                <tbody>
                    <% if (typeof reservations !== 'undefined' && reservations.length > 0) { %>
                        <% reservations.forEach(element => { %>
                            <tr>
                                <td><%= element.catwayNumber %></td>
                                <td><%= element.clientName %></td>
                                <td><%= element.boatName %></td>

                                <td>
                                    <div class="d-flex flex-row justify-content-end">
                                        

                                        <a href="/reservations/look/<%= element._id %>" type="button" class="btn btn-warning btn-small">
                                            <button>Voir</button>
                                        </a>

                                        


                                        <!-- Formulaire de suppression -->
                                        <form action="/reservations/<%= element._id %>?_method=DELETE" method="POST">
                                            <button type="submit" class="btn btn-danger btn-small">Delete</button>
                                        </form>
                                    </div>
                                </td>
                                


                            </tr>
                        <% }) %>
                    <% } else { %>
                        <tr>
                            <td colspan="3">Aucun catway disponible</td>
                        </tr>
                    <% } %>
                </tbody>
                
    
                
    
            </table>
        </div>






    </div>
    <div>
        <h2>Lien pour accéder à la liste des catways</h2>
        <div>
            <p>Lien vers la liste des catways :<a href="/catways">Lien</a></p>
        </div>

    </div>
    <div>
        <h2>Lien pour accéder à la liste des réservations</h2>
        <div>
            <p>Lien vers la liste des réservations :<a href="/reservations">Lien</a></p>
        </div>


    </div>
</body>
</html>

