<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Details de la reservation</title>
</head>
<body>

    <h1> Details de la reservation</h1>
    <p>Numéro de pont: <%= reservation.catwayNumber %></p>
    <p>Nom du client: <%= reservation.clientName %></p>
    <p>Nom du bateau amarré: <%= reservation.boatName %></p>
    <p>Date de début de réservation: <%= reservation.checkIn %></p>
    <p>Date de fin de réservation: <%= reservation.checkOut %></p>


</body>